div.player-container {
	width: 400px;
	background-color: white;
	border: 1px solid #c7c7c7;
	transition: box-shadow .2s, margin-top .2s, margin-bottom .2s;

	&:hover {
		margin-top: -5px;
    margin-bottom: 5px;
    -webkit-box-shadow: 0 5px 5px 0 rgba(50,50,50,.5);
    box-shadow: 0 5px 5px 0 rgba(50,50,50,.5);
		cursor: pointer;
	}

	.row {
		margin: 0;
	}

	.more-info {
		display: block;
	}

	p.property {
		font-weight: 600;
		font-size: 15px;
		margin: 0;
		padding: 5px 10px;
	}

	p.value {
		font-weight: 400;
		font-size: 14px;
		margin: 0;
		padding-left: 10px;

		&.text-truncate-sm {
			max-width: 199px;
		}
	}

	img {
		width: 50%;
		// height: 210px;
	}

	.color-division {
		height: 5px;
		width: 50%;
		background-image: linear-gradient(to right, green , red);
	}

	.player-info {
		color: black;
		padding: 7px 8px;

		.player-name {
			font-size: 16px;
			font-weight: 500;
			text-transform: uppercase;;
			margin: 0;
		}

		.player-position {
			font-size: 14px;
			margin: 0;
		}
	}

}